<head>

</head>
  <body>
    <div class="jumbotron">
      <h1 class="display-3">Echo Apartments</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p></p>
    </div>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<br />
<% if @ability.can? :manage, :all %>
<td><%= link_to 'Admin Page', '/admin' %></td>
<% end %>


<h1>Apartments</h1>

<form action="basic_search" method="get">
  <input type="text" name="basic_search" placeholder="Search">
  <input type="submit" value="Search">
</form>


<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Country</th>
      <th>Manager name</th>
      <th>Manager number</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.address %></td>
        <td><%= apartment.address2 %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.state %></td>
        <td><%= apartment.postal_code %></td>
        <td><%= apartment.country %></td>
        <td><%= apartment.manager_name %></td>
        <td><%= apartment.manager_number %></td>
        <td><%= apartment.hours %></td>
        <td><%= link_to 'Show', apartment %></td>
        <% if @ability.can? :manage, :all %>
          <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
          <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif @ability.can? :manage, apartment, user_id: current_user.id %>
          <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
          <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_apartment_path %>
</body>
